<div class="main_content">
    <h1 class="Welcome">Welcome to CSE Motors!</h1>
    <div class="DMC">
        DMC Delorean
        3 Cup Holders
        Superman doors 
        Fuzzy dicet 
        <button id="btn-1">Own Today</button>
    </div>
    <img alt="delorean photo" class="delorean_image" src="/images/vehicles/delorean.jpg">
    
    <div class="upgrades">
        <h2 class="upgrade_title">Delorean Upgrades</h2> 
        <div class="upgrades_options"> 
            <div class="flux">
                <img alt="upgrades flux photo" src="/images/upgrades/flux-cap.png">
                <br>
                <a href="#">Flux Capacitor</a>
            </div>
            <div class="flame">
                <img alt="upgrades flame photo"  src="/images/upgrades/flame.jpg">
                <br>
                <a href="#">Flame Decals</a>
            </div>
            <div class="bumper">
                <img alt="upgrades bumper photo"  src="/images/upgrades/bumper_sticker.jpg">
                <br>
                <a href="#">Bumper Stickers</a>
            </div>
            <div class="hub">
                <img alt="upgrades hub photo"  src="/images/upgrades/hub-cap.jpg">
                <br>
                <a href="#">Hub Caps</a>
            </div>
        </div>
    </div>
    
    <div class="review">
        <h2 class="review_title">DMC Delorean Reviews</h2>
        <ul>
            <li>• "So fast it's almost like traveling in time." (4/5)</li>
            <li>• "Coolest ride on the road." (4/5)</li>
            <li>• "I'm feeling McFly!" (5/5)</li>
            <li>• "The most futuristic ride of our day." (4.5/5)</li>
            <li>• "80's livin and love it!" (5/5)</li>
        </ul>
    </div>
    
    </div>